.dropdown-toggle, .dropdown-item{
  cursor: pointer;
}

.dropdown img{
  max-height: 40px;
  border: 2px solid rgb(194, 181, 181);
  display: inline;
  border-radius: 50%;
  margin-right: 5px;
}

.dropdown img:hover {
  background-color: gray;
  cursor: pointer;
}